<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>:: Share a Place ::</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="css/_styles.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link type="text/css" rel="stylesheet" href="css/social.css" />

<!--Menu slide -->
<link rel="stylesheet" href="css/slidebars.min.css">
<link rel="stylesheet" href="css/slidebars-theme.css">
<!--Menu slide -->
<!--tab-->
<link rel="stylesheet" href="css/tabs.css" />
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/tabs.js"></script>
<!--tab-->
<!--slider-->
<link rel="stylesheet" href="owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="owl-carousel/owl.theme.css"> 

<!--slider-->

<style type="text/css">
<!--
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
-->
</style>
</head>

<body>
					
<div class="container">
	<div class="topbar1">
		<div class="wraper1" align="center">
			<div class="mobilemenu">
				<div class="sb-slidebar sb-left">	
					<ul class="sb-menu">
						<li><a href="index.html" target="_self">Home</a></li>
						<li><a href="about.html" target="_self">About Us</a></li>
						<li><a href="project.html" target="_self">Projects</a></li>
						<li><a href="client.html" target="_self">Clients</a></li>
						<li><a href="testimonial.html" target="_self">Testimonials</a></li>
						<li><a href="#" target="_self">Press Release</a></li>
						<li><a href="contact.html" target="_self">Contact us</a></li>	
					</ul>
				</div>
				<div class="sb-navbar sb-slide">
					<div class="sb-toggle-left">
						<div class="navicon-line"></div>
						<div class="navicon-line"></div>
						<div class="navicon-line"></div>
					</div>
				</div>
			</div>
			<div class="logoarea1"><img src="images/yourLogoHere.png" alt="" border="0" /></div>
			<div class="menuarea1 menufont" id="menufont"><a href="#" id="menufont" target="_self">Message&nbsp;&nbsp;<img src="images/speech-bubble-with-text-lines.png" style="width:16px!important; height:16px!important;" /></a><a href="#" id="menufont" target="_self">Help&nbsp;&nbsp;<img src="images/settings.png" alt="" border="0" style="width:16px!important; height:16px!important;" /></a><a href="#" id="menufont" target="_self">Helen</a></div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="matter1">
		<div class="wraper2 textmatter1" align="center">
			<span class="title2">Hi Helen,<br /><div class="space1"></div>Let's List Together!</span><br /><div class="space3"></div><div class="space1"></div>
			<div class="started3"><img src="images/circle_01.png" alt="" border="0" /><br /><div class="space1"></div>
				<div class="startedtext">A picture is worth a thousand words! Tidy your place and click atleast 3 clear photos and always give the guest what they see in the photos</div>
			</div>
			<div class="started3"><img src="images/circle_02.png" alt="" border="0" /><br /><div class="space1"></div>
				<div class="startedtext">Think of the most stunning title and description of your place (e.g. What are its attractive features?)<br /><br /></div>
			</div>
			<div class="started3"><img src="images/circle_03.png" alt="" border="0" /><br /><div class="space1"></div>
				<div class="startedtext">Make the most of your extra space by giving an accurate measurement<br /><br /><br /></div>
			</div>
			<div class="started3"><img src="images/circle_04.png" alt="" border="0" /><br /><div class="space1"></div>
				<div class="startedtext">Don't forget to mention the pin code</div>
			</div>
			<div class="started3"><img src="images/circle_05.png" alt="" border="0" /><br /><div class="space1"></div>
				<div class="startedtext">Pick your price wisely and make your space available for as many hours or days as possible, who doesn't like making an extra buck ?</div>
			</div>
			<div class="started3"><img src="images/circle_06.png" alt="" border="0" /><br /><div class="space1"></div>
				<div class="startedtext">Remember a happy guest will give you a good review, so give them the best amenities and facilities you can</div>
			</div>
			<div class="clear"></div>
			<div class="space2"></div>
			<div id="started_btn"><a href="#" id="started_btn">LET'S GET STARTED</a></div>
		</div>		
	</div>
	<div class="footerstarted">
		<div class="wraper1 bottomtext1">
			<div class="left">&copy; 2016 Share A Place. All Rights Reserved.</div>
			<div class="right">Follow us on</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!--slider-->
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>  
<script type="text/javascript">
         jQuery(document).ready(function($) {	  
           $("#owl-demo").owlCarousel({		
           	navigation : true,
           	slideSpeed : 300,
           	paginationSpeed : 400,
           	autoPlay : true,
           	singleItem:true
           });
           $("#owl-demo2").owlCarousel({
        		items : 3,
           	lazyLoad : true,
           	autoPlay : true,
           	navigation : true,
           	pagination : false
           });
         });	 
</script>
<!--slider-->	  
<script src="js/slidebars.min.js"></script>
<script>
    (function($) {
        $(document).ready(function() {
            $.slidebars();
                });
        }) (jQuery);

</script>

    
</body>
</html>
